<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZM_pai_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,360},{80,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,111}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>Zmwf_hubei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,483}}</string>
                <key>sourceSize</key>
                <string>{56,483}</string>
            </dict>
            <key>budgets_sichuan_fenxiangline.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,610},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>budgets_sichuan_task_num0.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,686},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>budgets_sichuan_task_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,660},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,62}}</string>
                <key>sourceSize</key>
                <string>{24,62}</string>
            </dict>
            <key>budgets_sichuan_task_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,176},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>budgets_sichuan_task_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,112},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>budgets_sichuan_task_num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,365},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>budgets_sichuan_task_num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,436},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>budgets_sichuan_task_num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,430},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>budgets_sichuan_task_num7.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,500},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>budgets_sichuan_task_num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,323},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>budgets_sichuan_task_num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,239},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>budgets_sichuan_task_share_lsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,458},{373,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,138}}</string>
                <key>sourceSize</key>
                <string>{373,138}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{411,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,119}}</string>
                <key>sourceSize</key>
                <string>{411,119}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng10.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,458},{387,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,126}}</string>
                <key>sourceSize</key>
                <string>{387,126}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{410,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,121}}</string>
                <key>sourceSize</key>
                <string>{410,121}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,458},{396,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,112}}</string>
                <key>sourceSize</key>
                <string>{396,112}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,241},{415,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,108}}</string>
                <key>sourceSize</key>
                <string>{415,108}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng6.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,123},{395,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,114}}</string>
                <key>sourceSize</key>
                <string>{395,114}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,351},{409,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,105}}</string>
                <key>sourceSize</key>
                <string>{409,105}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,125},{408,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,114}}</string>
                <key>sourceSize</key>
                <string>{408,114}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{405,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,115}}</string>
                <key>sourceSize</key>
                <string>{405,115}</string>
            </dict>
            <key>budgets_sichuan_task_share_zjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,626},{164,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,58}}</string>
                <key>sourceSize</key>
                <string>{164,58}</string>
            </dict>
            <key>budgets_sichuan_task_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,790},{122,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,67}}</string>
                <key>sourceSize</key>
                <string>{122,67}</string>
            </dict>
            <key>dg_budgets_pochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,283},{80,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{80,55}</string>
            </dict>
            <key>fixed_missing_ok_3z.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,442},{182,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,65}}</string>
                <key>sourceSize</key>
                <string>{182,65}</string>
            </dict>
            <key>gd_budget_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,123},{152,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,51}}</string>
                <key>sourceSize</key>
                <string>{152,51}</string>
            </dict>
            <key>gd_budget_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,564},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>gd_budget_back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,239},{66,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,347}}</string>
                <key>sourceSize</key>
                <string>{66,347}</string>
            </dict>
            <key>gd_budget_chihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,351},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>gd_budget_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,494},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>gd_budget_detail_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,730},{174,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,58}}</string>
                <key>sourceSize</key>
                <string>{174,58}</string>
            </dict>
            <key>gd_budget_dianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,283},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>gd_budget_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,702},{176,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,113}}</string>
                <key>sourceSize</key>
                <string>{176,113}</string>
            </dict>
            <key>gd_budget_ma_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,240},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>gd_budget_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,458},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>gd_budget_progress_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{104,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,20}}</string>
                <key>sourceSize</key>
                <string>{104,20}</string>
            </dict>
            <key>gd_budget_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,833},{18,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,2}}</string>
                <key>sourceSize</key>
                <string>{18,2}</string>
            </dict>
            <key>gd_budget_task_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,686},{42,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,178}}</string>
                <key>sourceSize</key>
                <string>{42,178}</string>
            </dict>
            <key>gd_budget_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,847},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gd_budget_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,847},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>gd_budget_zhuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,365},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>gd_budget_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,856},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>gd_budgett_df_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,730},{147,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,48}}</string>
                <key>sourceSize</key>
                <string>{147,48}</string>
            </dict>
            <key>gdmj_budget_task_get_coupon.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,817},{232,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,75}}</string>
                <key>sourceSize</key>
                <string>{232,75}</string>
            </dict>
            <key>gdmj_budget_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,833},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,59}}</string>
                <key>sourceSize</key>
                <string>{134,59}</string>
            </dict>
            <key>gdmj_share_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,365},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>gdmj_share_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,307},{343,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,51}}</string>
                <key>sourceSize</key>
                <string>{343,51}</string>
            </dict>
            <key>gymj_budget_absence.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,640},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gymj_budget_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,847},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>gymj_budget_chong.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,604},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gymj_budget_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,859},{85,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,29}}</string>
                <key>sourceSize</key>
                <string>{85,29}</string>
            </dict>
            <key>gymj_budget_h_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,730},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>gymj_budget_h_kuangs.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>gymj_budget_h_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,686},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>gymj_budget_jinji_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,534},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>gymj_budget_men.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,419},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>gymj_budget_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,856},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>gymj_budget_pochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,838},{74,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,49}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>gymj_budget_ze.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,496},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gymj_budget_zhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,457},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>gymj_help_click_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,453},{205,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,66}}</string>
                <key>sourceSize</key>
                <string>{205,66}</string>
            </dict>
            <key>gymj_icon_chong.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,859},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>gymj_icon_ting_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,534},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>gymj_icon_ting_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,640},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>gymj_icon_ze.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,838},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>zmwf_js_btn_djsspr.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,112},{169,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,52}}</string>
                <key>sourceSize</key>
                <string>{169,52}</string>
            </dict>
            <key>zmwf_js_btn_fenxiang_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,453},{247,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,91}}</string>
                <key>sourceSize</key>
                <string>{247,91}</string>
            </dict>
            <key>zmwf_js_btn_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,442},{182,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,65}}</string>
                <key>sourceSize</key>
                <string>{182,65}</string>
            </dict>
            <key>zmwf_js_btn_haoyou_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,453},{247,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,91}}</string>
                <key>sourceSize</key>
                <string>{247,91}</string>
            </dict>
            <key>zmwf_js_btn_pyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,360},{247,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,91}}</string>
                <key>sourceSize</key>
                <string>{247,91}</string>
            </dict>
            <key>zmwf_js_haoyou_spr.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,277},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>zmwf_js_pyq_spr.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,564},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>budget_001.png</string>
            <key>size</key>
            <string>{1017,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6ee3a94603680f9cc0b48b585611a15:1/1$</string>
            <key>textureFileName</key>
            <string>budget_001.png</string>
        </dict>
    </dict>
</plist>
