<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>General_pop_bottom_zhijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,203},{102,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,66}}</string>
                <key>sourceSize</key>
                <string>{102,66}</string>
            </dict>
            <key>avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,555},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>avatar_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,516},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>avatar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,446},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>back_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,45},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>baseboard_roundedcorner14.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,45},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>baseboard_roundedcorner16.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,45},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>boy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,161},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,496},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>btn_back_to_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,433},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>btn_hyf.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,419},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>btn_middle_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,446},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>btn_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{166,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,62}}</string>
                <key>sourceSize</key>
                <string>{166,62}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,108},{383,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,111}}</string>
                <key>sourceSize</key>
                <string>{383,111}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{84,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,451}}</string>
                <key>sourceSize</key>
                <string>{84,451}</string>
            </dict>
            <key>chat_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,45},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>chat_emo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,419},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,340},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,327},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,327},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,313},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,278},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,234},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,221},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,221},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,172},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,66},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_emo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{158,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>sourceSize</key>
                <string>{158,104}</string>
            </dict>
            <key>chat_spLine_H.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,982},{406,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,1}}</string>
                <key>sourceSize</key>
                <string>{406,1}</string>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,120},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>coin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,373},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>ddz_common_popup_bg_big_cr18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,528}}</string>
                <key>sourceSize</key>
                <string>{98,528}</string>
            </dict>
            <key>ddz_common_popup_bg_partingline.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,979},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ddz_common_popup_bg_peach.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,962},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>girl_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>hall_download_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,174},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hall_download_loading_loop.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,271},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_credit.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,267},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>icon_credit_.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,221},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>menu_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,684},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>menu_avatar_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,824},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>menu_avatar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,824},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>menu_avatar_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,684},{145,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,138}}</string>
                <key>sourceSize</key>
                <string>{145,138}</string>
            </dict>
            <key>menu_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,433},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>menu_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,419},{68,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,109}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
            <key>menu_btn_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,510},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>menu_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,525},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>page_pt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,962},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>page_pt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,962},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>pop_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{196,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,76}}</string>
                <key>sourceSize</key>
                <string>{196,76}</string>
            </dict>
            <key>pop_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,945},{196,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,76}}</string>
                <key>sourceSize</key>
                <string>{196,76}</string>
            </dict>
            <key>pop_coinlack_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,532},{220,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,150}}</string>
                <key>sourceSize</key>
                <string>{220,150}</string>
            </dict>
            <key>pop_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,68},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>pop_win_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,985},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>pop_win_note_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{293,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,41}}</string>
                <key>sourceSize</key>
                <string>{293,41}</string>
            </dict>
            <key>pop_win_tab_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,979},{10,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,1}}</string>
                <key>sourceSize</key>
                <string>{10,1}</string>
            </dict>
            <key>separator2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{248,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,2}}</string>
                <key>sourceSize</key>
                <string>{248,2}</string>
            </dict>
            <key>t_tmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,962},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>voicIngBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,822},{162,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,121}}</string>
                <key>sourceSize</key>
                <string>{162,121}</string>
            </dict>
            <key>voice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,985},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>voice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,985},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>voice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,985},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>voice4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,985},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>voiceBtn_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,141},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>voiceGreen0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,80},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>voiceGreen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,433},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceGreen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,485},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceGreen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,419},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceGreen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,54},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceGreen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>voiceTipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,985},{209,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,30}}</string>
                <key>sourceSize</key>
                <string>{209,30}</string>
            </dict>
            <key>yuan_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,80},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>zdt_btn_bsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,157},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
            <key>zdt_btn_jbc.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,80},{121,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,75}}</string>
                <key>sourceSize</key>
                <string>{121,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:456d6cdceba5dad67e4fb6877d41bde4:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
