<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahj_match_rize_wait_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{404,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,403}}</string>
                <key>sourceSize</key>
                <string>{404,403}</string>
            </dict>
            <key>mahj_match_schedul_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{736,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,20}}</string>
                <key>sourceSize</key>
                <string>{736,20}</string>
            </dict>
            <key>mahj_match_schedul_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{732,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,16}}</string>
                <key>sourceSize</key>
                <string>{732,16}</string>
            </dict>
            <key>mahj_match_waiting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,114},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>mahj_match_waiting_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,42},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mahj_match_waiting_red_stripe.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,37},{429,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,34}}</string>
                <key>sourceSize</key>
                <string>{429,34}</string>
            </dict>
            <key>mahj_match_waiting_word_remaining_tables.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{178,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,33}}</string>
                <key>sourceSize</key>
                <string>{178,33}</string>
            </dict>
            <key>match_action_GJ_DD11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,42},{144,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,142}}</string>
                <key>sourceSize</key>
                <string>{144,142}</string>
            </dict>
            <key>match_action_GJ_DD11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,37},{144,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,142}}</string>
                <key>sourceSize</key>
                <string>{144,142}</string>
            </dict>
            <key>match_waiting_number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,402},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{96,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,140},{70,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{70,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,108},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{102,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,402},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{98,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,42},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{96,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,212},{98,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{98,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,410},{96,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{96,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{102,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{98,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,312},{96,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{96,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,914},{120,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{120,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,186},{126,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{126,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,402},{116,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_hai.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,324},{118,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{118,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,212},{120,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{120,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,294},{120,106}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_jue.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,914},{116,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_lun.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,432},{116,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{116,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,289},{118,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{118,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_sai.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,181},{122,106}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{120,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{120,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_zong.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,397},{116,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{116,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>match_waiting_word_zu.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,914},{118,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{118,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahj_match_wait.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:458e98f3bf354bdc0967e97f6ec2ea35:1/1$</string>
            <key>textureFileName</key>
            <string>mahj_match_wait.png</string>
        </dict>
    </dict>
</plist>
