<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0black.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,680},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>General_tips_bubble02.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,595},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>Paizhuo_ziz_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,235},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Paizhuo_ziz_btn_zb_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,525},{316,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,37}}</string>
                <key>sourceSize</key>
                <string>{316,37}</string>
            </dict>
            <key>Paizhuo_ziz_touxiang_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,356},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>Paizhuo_zjz_mark_lk.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,107},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>Zm_btn_qxtg_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{4,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,436}}</string>
                <key>sourceSize</key>
                <string>{4,436}</string>
            </dict>
            <key>Zm_general_headframe_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,521},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Zm_general_headframe_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,412},{68,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,89}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>Zm_general_headframe_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,315},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,95}</string>
            </dict>
            <key>Zm_general_hudata_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,649},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>Zm_general_infor_net1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,417},{3,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,9}}</string>
                <key>sourceSize</key>
                <string>{3,9}</string>
            </dict>
            <key>Zm_general_infor_net2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,422},{3,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,12}}</string>
                <key>sourceSize</key>
                <string>{3,12}</string>
            </dict>
            <key>Zm_general_infor_net3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,440},{3,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,17}}</string>
                <key>sourceSize</key>
                <string>{3,17}</string>
            </dict>
            <key>Zm_general_infor_power1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1001},{48,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,19}}</string>
                <key>sourceSize</key>
                <string>{48,19}</string>
            </dict>
            <key>Zm_general_infor_power2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1001},{48,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,19}}</string>
                <key>sourceSize</key>
                <string>{48,19}</string>
            </dict>
            <key>Zm_general_infor_wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,375},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>Zm_general_infor_wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,396},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>Zm_general_infor_wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1001},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>Zm_general_kwx_floor_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{413,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,16}}</string>
                <key>sourceSize</key>
                <string>{413,16}</string>
            </dict>
            <key>Zm_general_offline.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,31},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>Zmwf_general_mark_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>chat_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1001},{38,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>chat_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,281},{121,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,73}}</string>
                <key>sourceSize</key>
                <string>{121,73}</string>
            </dict>
            <key>dingque_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,236},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>dingque_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,236},{127,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,128}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>dingque_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,366},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gamescene_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,715},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>gamescene_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,589},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>gamescene_details.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,776},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>gamescene_details_spr.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,445},{212,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,78}}</string>
                <key>sourceSize</key>
                <string>{212,78}</string>
            </dict>
            <key>gamescene_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,715},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>gamescene_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,655},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>gdmj_fjh_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,375},{15,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,37}}</string>
                <key>sourceSize</key>
                <string>{15,37}</string>
            </dict>
            <key>gdmj_kaiju_fwf.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,525},{279,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,33}}</string>
                <key>sourceSize</key>
                <string>{279,33}</string>
            </dict>
            <key>gdmj_ryp.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,478},{41,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{41,48}</string>
            </dict>
            <key>gymj_table_txt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,365},{118,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,31}}</string>
                <key>sourceSize</key>
                <string>{118,31}</string>
            </dict>
            <key>gymj_table_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,417},{85,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,26}}</string>
                <key>sourceSize</key>
                <string>{85,26}</string>
            </dict>
            <key>gymj_table_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,996},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>hu_tips_hubibbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,525},{201,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,334}}</string>
                <key>sourceSize</key>
                <string>{201,334}</string>
            </dict>
            <key>hu_tips_hubigbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,861},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>hu_tips_husmallbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,709},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>hu_tips_husmallbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,495},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>hu_tips_huzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,183},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hu_tips_mjdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,571},{47,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,62}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>mahj_create_gameplay_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{188,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,470}}</string>
                <key>sourceSize</key>
                <string>{188,470}</string>
            </dict>
            <key>mahj_create_gameplay_rightbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{60,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,441}}</string>
                <key>sourceSize</key>
                <string>{60,441}</string>
            </dict>
            <key>mahj_fixed_missing_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,179},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>mahj_fixed_missing_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,485},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>mahj_fixed_missing_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,445},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>table_coin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,432},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>table_flow_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,573},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>table_flow_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,709},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>table_panel_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,861},{147,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,122}}</string>
                <key>sourceSize</key>
                <string>{147,122}</string>
            </dict>
            <key>xlmj_zm_tx_dq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,859},{135,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,54}}</string>
                <key>sourceSize</key>
                <string>{135,54}</string>
            </dict>
            <key>xlmj_zm_tx_dq02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,179},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>xlmj_zm_tx_dq03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,396},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>xlmj_zm_tx_dq07.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,155},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>xlmj_zm_tx_dq08.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,155},{119,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,78}}</string>
                <key>sourceSize</key>
                <string>{119,78}</string>
            </dict>
            <key>xlmj_zm_tx_dq09.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,525},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>xlmj_zm_tx_dq201.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,396},{127,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
            <key>xlmj_zm_tx_dq202.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,412},{113,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>xlmj_zm_tx_dq203.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,861},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>xlmj_zm_tx_dq301.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,525},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>xlmj_zm_tx_dq302.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,503},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>xlmj_zm_tx_dq303.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,501},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>xlmj_zm_tx_dq304.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,406},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>xlmj_zm_tx_icon_gang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,861},{139,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,70}}</string>
                <key>sourceSize</key>
                <string>{139,70}</string>
            </dict>
            <key>xlmj_zm_tx_shu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,95},{247,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,58}}</string>
                <key>sourceSize</key>
                <string>{247,58}</string>
            </dict>
            <key>xlmj_zm_tx_shu_rs.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,861},{147,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,76}}</string>
                <key>sourceSize</key>
                <string>{147,76}</string>
            </dict>
            <key>xz_button_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{247,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,91}}</string>
                <key>sourceSize</key>
                <string>{247,91}</string>
            </dict>
            <key>xz_button_tisp_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{172,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,51}}</string>
                <key>sourceSize</key>
                <string>{172,51}</string>
            </dict>
            <key>xz_button_tisp_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,55},{172,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,49}}</string>
                <key>sourceSize</key>
                <string>{172,49}</string>
            </dict>
            <key>xz_frame_3z.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{392,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,123}}</string>
                <key>sourceSize</key>
                <string>{392,123}</string>
            </dict>
            <key>xz_setting_guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,378},{136,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{136,66}</string>
            </dict>
            <key>xz_setting_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,861},{136,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{136,66}</string>
            </dict>
            <key>xz_setting_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,495},{93,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,25}}</string>
                <key>sourceSize</key>
                <string>{93,25}</string>
            </dict>
            <key>xz_tabel_tuoguan_tisp.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{406,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,23}}</string>
                <key>sourceSize</key>
                <string>{406,23}</string>
            </dict>
            <key>xz_table_flow.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,634},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>xz_table_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,620},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>xz_table_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,106},{25,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,172}}</string>
                <key>sourceSize</key>
                <string>{25,172}</string>
            </dict>
            <key>xz_table_wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,356},{105,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,48}}</string>
                <key>sourceSize</key>
                <string>{105,48}</string>
            </dict>
            <key>xz_title_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{371,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,50}}</string>
                <key>sourceSize</key>
                <string>{371,50}</string>
            </dict>
            <key>xz_title_buchongglod.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,806},{172,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,53}}</string>
                <key>sourceSize</key>
                <string>{172,53}</string>
            </dict>
            <key>xz_title_duijuliushui.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,133},{165,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,44}}</string>
                <key>sourceSize</key>
                <string>{165,44}</string>
            </dict>
            <key>xz_title_jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{177,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,54}}</string>
                <key>sourceSize</key>
                <string>{177,54}</string>
            </dict>
            <key>xz_title_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,783},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>xz_title_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{174,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,49}}</string>
                <key>sourceSize</key>
                <string>{174,49}</string>
            </dict>
            <key>xz_title_wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{175,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,51}}</string>
                <key>sourceSize</key>
                <string>{175,51}</string>
            </dict>
            <key>xz_wanfa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,183},{193,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,106}}</string>
                <key>sourceSize</key>
                <string>{193,106}</string>
            </dict>
            <key>xz_wanfa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,183},{189,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,46}}</string>
                <key>sourceSize</key>
                <string>{189,46}</string>
            </dict>
            <key>xzmj_frame_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,783},{111,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,74}}</string>
                <key>sourceSize</key>
                <string>{111,74}</string>
            </dict>
            <key>xzmj_room_jianfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,525}}</string>
                <key>sourceSize</key>
                <string>{94,525}</string>
            </dict>
            <key>xzmj_tisp_duijuliushui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>xzmj_title_dqsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,861},{146,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,24}}</string>
                <key>sourceSize</key>
                <string>{146,24}</string>
            </dict>
            <key>xzmj_title_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,396},{84,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,47}}</string>
                <key>sourceSize</key>
                <string>{84,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahj_table_001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9858d00879daddcd5ec25c60fdc5f6a:1/1$</string>
            <key>textureFileName</key>
            <string>mahj_table_001.png</string>
        </dict>
    </dict>
</plist>
