<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xlmj_zm_tx_kaiju01.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,209},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>xlmj_zm_tx_kaiju02.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,467},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{250,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>xlmj_zm_tx_kaiju03.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,209},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>xlmj_zm_tx_kaiju04.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,559},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>xlmj_zm_tx_kaiju05.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>xlmj_zm_tx_kaiju06.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,559},{100,106}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{100,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xlmj_zm_tx_kaiju07.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,370},{327,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,150}}</string>
                <key>sourceSize</key>
                <string>{327,150}</string>
            </dict>
            <key>xlmj_zm_tx_kaiju08.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,467},{234,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,90}}</string>
                <key>sourceSize</key>
                <string>{234,90}</string>
            </dict>
            <key>xlmj_zm_tx_kj03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{567,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,203}}</string>
                <key>sourceSize</key>
                <string>{567,203}</string>
            </dict>
            <key>xlmj_zm_tx_kj06.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{205,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,319}}</string>
                <key>sourceSize</key>
                <string>{205,319}</string>
            </dict>
            <key>xlmj_zm_tx_kj07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{471,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,161}}</string>
                <key>sourceSize</key>
                <string>{471,161}</string>
            </dict>
            <key>xlmj_zm_tx_kj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{283,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,319}}</string>
                <key>sourceSize</key>
                <string>{283,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlmj_zm_tx_kaiju.png</string>
            <key>size</key>
            <string>{991,719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6817fd4490770f672d73413a7555be05:1/1$</string>
            <key>textureFileName</key>
            <string>xlmj_zm_tx_kaiju.png</string>
        </dict>
    </dict>
</plist>
