<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZM_pai_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,840},{80,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,111}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>Zmwf_hubei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,483}}</string>
                <key>sourceSize</key>
                <string>{56,483}</string>
            </dict>
            <key>budgets_sichuan_fenxiangline.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,585},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>budgets_sichuan_task_num0.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,840},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,62}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>budgets_sichuan_task_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,949},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,62}}</string>
                <key>sourceSize</key>
                <string>{24,62}</string>
            </dict>
            <key>budgets_sichuan_task_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,975},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>budgets_sichuan_task_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,975},{39,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,62}}</string>
                <key>sourceSize</key>
                <string>{39,62}</string>
            </dict>
            <key>budgets_sichuan_task_num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,976},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>budgets_sichuan_task_num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,973},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>budgets_sichuan_task_num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,711},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>budgets_sichuan_task_num7.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,669},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>budgets_sichuan_task_num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,627},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>budgets_sichuan_task_num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,585},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>budgets_sichuan_task_share_lsd.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,635},{373,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,138}}</string>
                <key>sourceSize</key>
                <string>{373,138}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{411,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,119}}</string>
                <key>sourceSize</key>
                <string>{411,119}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{387,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,126}}</string>
                <key>sourceSize</key>
                <string>{387,126}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,112},{410,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,121}}</string>
                <key>sourceSize</key>
                <string>{410,121}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{396,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,112}}</string>
                <key>sourceSize</key>
                <string>{396,112}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{415,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,108}}</string>
                <key>sourceSize</key>
                <string>{415,108}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{395,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,114}}</string>
                <key>sourceSize</key>
                <string>{395,114}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{409,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,105}}</string>
                <key>sourceSize</key>
                <string>{409,105}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,235},{408,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,114}}</string>
                <key>sourceSize</key>
                <string>{408,114}</string>
            </dict>
            <key>budgets_sichuan_task_share_sheng9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{405,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,115}}</string>
                <key>sourceSize</key>
                <string>{405,115}</string>
            </dict>
            <key>budgets_sichuan_task_share_zjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,419},{164,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,58}}</string>
                <key>sourceSize</key>
                <string>{164,58}</string>
            </dict>
            <key>budgets_sichuan_task_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,128},{122,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,67}}</string>
                <key>sourceSize</key>
                <string>{122,67}</string>
            </dict>
            <key>dg_budgets_pochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,753},{80,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{80,55}</string>
            </dict>
            <key>fixed_missing_ok_3z.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,594},{182,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,65}}</string>
                <key>sourceSize</key>
                <string>{182,65}</string>
            </dict>
            <key>gd_budget_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,427},{152,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,51}}</string>
                <key>sourceSize</key>
                <string>{152,51}</string>
            </dict>
            <key>gd_budget_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,793},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>gd_budget_back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,252},{66,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,347}}</string>
                <key>sourceSize</key>
                <string>{66,347}</string>
            </dict>
            <key>gd_budget_chihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,715},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>gd_budget_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,753},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>gd_budget_detail_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,534},{174,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,58}}</string>
                <key>sourceSize</key>
                <string>{174,58}</string>
            </dict>
            <key>gd_budget_dianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,351},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>gd_budget_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,419},{176,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,113}}</string>
                <key>sourceSize</key>
                <string>{176,113}</string>
            </dict>
            <key>gd_budget_ma_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,585},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>gd_budget_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,810},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>gd_budget_progress_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,953},{104,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,20}}</string>
                <key>sourceSize</key>
                <string>{104,20}</string>
            </dict>
            <key>gd_budget_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,112},{18,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,2}}</string>
                <key>sourceSize</key>
                <string>{18,2}</string>
            </dict>
            <key>gd_budget_task_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,980},{42,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,178}}</string>
                <key>sourceSize</key>
                <string>{42,178}</string>
            </dict>
            <key>gd_budget_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,977},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>gd_budget_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,977},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>gd_budget_zhuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,60},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>gd_budget_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,351},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>gd_budgett_df_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,427},{147,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,48}}</string>
                <key>sourceSize</key>
                <string>{147,48}</string>
            </dict>
            <key>gdmj_budget_task_get_coupon.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,351},{232,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,75}}</string>
                <key>sourceSize</key>
                <string>{232,75}</string>
            </dict>
            <key>gdmj_budget_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,840},{134,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,59}}</string>
                <key>sourceSize</key>
                <string>{134,59}</string>
            </dict>
            <key>gdmj_share_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,949},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>gdmj_share_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,635},{343,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,51}}</string>
                <key>sourceSize</key>
                <string>{343,51}</string>
            </dict>
            <key>gymj_budget_absence.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,899},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gymj_budget_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,601},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>gymj_budget_chong.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,898},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gymj_budget_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,601},{85,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,29}}</string>
                <key>sourceSize</key>
                <string>{85,29}</string>
            </dict>
            <key>gymj_budget_h_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,715},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>gymj_budget_h_kuangs.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,839},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>gymj_budget_h_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,976},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>gymj_budget_jinji_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,576},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>gymj_budget_men.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,861},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>gymj_budget_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,823},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>gymj_budget_pochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,351},{74,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,49}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>gymj_budget_ze.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,862},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gymj_budget_zhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,823},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>gymj_help_click_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,351},{205,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,66}}</string>
                <key>sourceSize</key>
                <string>{205,66}</string>
            </dict>
            <key>gymj_icon_chong.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,810},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>gymj_icon_ting_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,812},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>gymj_icon_ting_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,812},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>gymj_icon_ze.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,812},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>gymj_share_titles.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,632},{206,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,74}}</string>
                <key>sourceSize</key>
                <string>{206,74}</string>
            </dict>
            <key>zmwf_js_btn_djsspr.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,661},{169,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,52}}</string>
                <key>sourceSize</key>
                <string>{169,52}</string>
            </dict>
            <key>zmwf_js_btn_fenxiang_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,635},{247,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,91}}</string>
                <key>sourceSize</key>
                <string>{247,91}</string>
            </dict>
            <key>zmwf_js_btn_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,628},{182,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,65}}</string>
                <key>sourceSize</key>
                <string>{182,65}</string>
            </dict>
            <key>zmwf_js_btn_haoyou_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,884},{247,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,91}}</string>
                <key>sourceSize</key>
                <string>{247,91}</string>
            </dict>
            <key>zmwf_js_btn_pyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,635},{247,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,91}}</string>
                <key>sourceSize</key>
                <string>{247,91}</string>
            </dict>
            <key>zmwf_js_haoyou_spr.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,977},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>zmwf_js_pyq_spr.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,585},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>budget_001.png</string>
            <key>size</key>
            <string>{904,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c510ceb5a2840a417b4679d60c3f771d:1/1$</string>
            <key>textureFileName</key>
            <string>budget_001.png</string>
        </dict>
    </dict>
</plist>
