<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>interactive_emo_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,654},{122,126}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,56},{122,126}}</string>
                <key>sourceSize</key>
                <string>{242,226}</string>
            </dict>
            <key>interactive_emo_bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,948},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>interactive_emo_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{210,208}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{210,208}}</string>
                <key>sourceSize</key>
                <string>{242,226}</string>
            </dict>
            <key>interactive_emo_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{236,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{236,226}}</string>
                <key>sourceSize</key>
                <string>{242,226}</string>
            </dict>
            <key>interactive_emo_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,226}}</string>
                <key>sourceSize</key>
                <string>{242,226}</string>
            </dict>
            <key>interactive_emo_bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{238,226}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{238,226}}</string>
                <key>sourceSize</key>
                <string>{242,226}</string>
            </dict>
            <key>interactive_emo_bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{230,194}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{230,194}}</string>
                <key>sourceSize</key>
                <string>{242,226}</string>
            </dict>
            <key>interactive_emo_bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,394},{210,190}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{210,190}}</string>
                <key>sourceSize</key>
                <string>{242,226}</string>
            </dict>
            <key>interactive_emo_bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,198},{216,194}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{216,194}}</string>
                <key>sourceSize</key>
                <string>{242,226}</string>
            </dict>
            <key>interactive_emo_bomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,948},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>interactive_emo_bomb_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,306},{80,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>interactive_emo_bomb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,386},{78,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>interactive_emo_bomb_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,906},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>interactive_emo_bomb_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,678},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
            <key>interactive_emo_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,756},{68,62}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{68,62}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>interactive_emo_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,948},{70,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>interactive_emo_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{66,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>interactive_emo_brick_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,466},{96,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,84}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>interactive_emo_brick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,394},{86,70}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>interactive_emo_brick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{86,70}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,70}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>interactive_emo_brick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{86,70}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,70}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>interactive_emo_brick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,564},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>interactive_emo_brick_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,948},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>interactive_emo_brick_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,466},{56,48}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{56,48}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>interactive_emo_brick_bia.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,396},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>interactive_emo_brick_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,220},{80,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>interactive_emo_brick_sui.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,434},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>interactive_emo_brick_yan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,230},{210,202}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{210,202}}</string>
                <key>sourceSize</key>
                <string>{214,202}</string>
            </dict>
            <key>interactive_emo_brick_yan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{194,162}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{194,162}}</string>
                <key>sourceSize</key>
                <string>{214,202}</string>
            </dict>
            <key>interactive_emo_brick_yan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,586},{176,160}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{176,160}}</string>
                <key>sourceSize</key>
                <string>{214,202}</string>
            </dict>
            <key>interactive_emo_brick_yan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,230},{180,162}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{180,162}}</string>
                <key>sourceSize</key>
                <string>{214,202}</string>
            </dict>
            <key>interactive_emo_brick_yan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,434},{188,168}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{188,168}}</string>
                <key>sourceSize</key>
                <string>{214,202}</string>
            </dict>
            <key>interactive_emo_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,524},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>interactive_emo_diamond_halo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,906},{101,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{101,104}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>interactive_emo_diamond_halo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{130,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,104}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>interactive_emo_diamond_halo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,734},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>interactive_emo_diamond_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,784},{62,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{62,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>interactive_emo_egg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,948},{60,60}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{60,60}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{110,162}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{110,162}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{74,68}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,12},{74,68}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,853},{156,92}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,92}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,394},{168,110}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,110}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,564},{168,116}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{168,116}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,778},{168,138}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,138}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,748},{168,156}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{168,156}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,230},{130,164}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{130,164}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,526},{110,146}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{110,146}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>interactive_emo_egg_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,164},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>interactive_emo_egg_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,948},{60,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{60,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>interactive_emo_egg_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,604},{186,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,178}}</string>
                <key>sourceSize</key>
                <string>{186,178}</string>
            </dict>
            <key>interactive_emo_flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,948},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>interactive_emo_flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,570},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>interactive_emo_flower_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,638},{144,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,122}}</string>
                <key>sourceSize</key>
                <string>{144,122}</string>
            </dict>
            <key>interactive_emo_flower_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,86},{76,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{76,66}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>interactive_emo_star_lignt.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,606},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>interactive_emo_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,948},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{72,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahj_emo_001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b53719cc309f3cbb8cb2541ca7988324:1/1$</string>
            <key>textureFileName</key>
            <string>mahj_emo_001.png</string>
        </dict>
    </dict>
</plist>
