<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Zm_pzhf_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,860},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>Zm_pzhf_icon_chongbo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,912},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zm_pzhf_icon_chongbo_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,832},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zm_pzhf_icon_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,909},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zm_pzhf_icon_jixu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,912},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zm_pzhf_icon_shangyiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,829},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zm_pzhf_icon_shangyiju_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,832},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zm_pzhf_icon_xiayiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,920},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zm_pzhf_icon_xiayiju_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,749},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zm_pzhf_icon_zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,749},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zm_pzhf_icon_zanting_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,840},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>Zmwf_zjs_fangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,947},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>Zmwf_zjs_floor_line_win01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,296},{4,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,170}}</string>
                <key>sourceSize</key>
                <string>{4,170}</string>
            </dict>
            <key>Zmwf_zjs_floor_line_win02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,70},{4,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,170}}</string>
                <key>sourceSize</key>
                <string>{4,170}</string>
            </dict>
            <key>Zmwf_zjs_floor_win01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,572},{52,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,430}}</string>
                <key>sourceSize</key>
                <string>{52,430}</string>
            </dict>
            <key>Zmwf_zjs_floor_win02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{52,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,430}}</string>
                <key>sourceSize</key>
                <string>{52,430}</string>
            </dict>
            <key>Zmwf_zjs_mark_dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,860},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>Zmwf_zjs_mark_zjps.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,747},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>arrangepoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,569},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>checkbox_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,70},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>ddz_yaoqianshu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,160},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>ddz_yaoqianshu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,538},{131,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,65}}</string>
                <key>sourceSize</key>
                <string>{131,65}</string>
            </dict>
            <key>ddz_yaoqianshu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,840},{103,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,109}}</string>
                <key>sourceSize</key>
                <string>{103,109}</string>
            </dict>
            <key>ddz_yaoqianshu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,566},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>ddz_yaoqianshu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,362},{189,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,190}}</string>
                <key>sourceSize</key>
                <string>{189,190}</string>
            </dict>
            <key>ddz_yaoqianshu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,654},{53,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,35}}</string>
                <key>sourceSize</key>
                <string>{53,35}</string>
            </dict>
            <key>ddz_yaoqianshu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,205},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>ddz_yaoqianshu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,42},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>ddz_yaoqianshu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,205},{57,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,41}}</string>
                <key>sourceSize</key>
                <string>{57,41}</string>
            </dict>
            <key>ddz_yaoqianshu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,605},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,160},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,603},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>mahj_create_gameplay_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,951},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>mahj_create_gameplay_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,636},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>mahj_create_gameplay_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,242},{2,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,49}}</string>
                <key>sourceSize</key>
                <string>{2,49}</string>
            </dict>
            <key>mahj_create_gameplay_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,811},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,47}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>mahj_create_gameplay_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,101},{31,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,57}}</string>
                <key>sourceSize</key>
                <string>{31,57}</string>
            </dict>
            <key>mahj_match_ico_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,471},{168,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,65}}</string>
                <key>sourceSize</key>
                <string>{168,65}</string>
            </dict>
            <key>mahj_room_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{460,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,140}}</string>
                <key>sourceSize</key>
                <string>{460,140}</string>
            </dict>
            <key>mahj_room_list_cell_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,545},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>mahj_room_list_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,951},{54,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>mahj_room_list_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,325},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>mahj_room_list_txt_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,630},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>mahj_room_list_yinzhang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,446},{59,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,97}}</string>
                <key>sourceSize</key>
                <string>{59,97}</string>
            </dict>
            <key>mahj_room_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,628},{247,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,52}}</string>
                <key>sourceSize</key>
                <string>{247,52}</string>
            </dict>
            <key>mahj_room_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,574},{247,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,52}}</string>
                <key>sourceSize</key>
                <string>{247,52}</string>
            </dict>
            <key>mahj_room_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,520},{247,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,52}}</string>
                <key>sourceSize</key>
                <string>{247,52}</string>
            </dict>
            <key>mahj_room_title_hyf.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,466},{247,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,52}}</string>
                <key>sourceSize</key>
                <string>{247,52}</string>
            </dict>
            <key>mahj_room_title_zyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,412},{247,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,52}}</string>
                <key>sourceSize</key>
                <string>{247,52}</string>
            </dict>
            <key>mj_create_room_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,317},{182,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,84}}</string>
                <key>sourceSize</key>
                <string>{182,84}</string>
            </dict>
            <key>mj_zm_tx_liuijuxg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,735},{122,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,103}}</string>
                <key>sourceSize</key>
                <string>{122,103}</string>
            </dict>
            <key>mj_zm_tx_liuijuxg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,475},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>mj_zm_tx_liuijuxg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,692},{187,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,117}}</string>
                <key>sourceSize</key>
                <string>{187,117}</string>
            </dict>
            <key>mj_zm_tx_liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,622},{210,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,119}}</string>
                <key>sourceSize</key>
                <string>{210,119}</string>
            </dict>
            <key>mj_zm_tx_liujuguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,325},{300,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,85}}</string>
                <key>sourceSize</key>
                <string>{300,85}</string>
            </dict>
            <key>radiobtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,538},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>radiobtn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,600},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,248},{183,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,67}}</string>
                <key>sourceSize</key>
                <string>{183,67}</string>
            </dict>
            <key>tab_bottom_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>tab_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,554},{205,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,66}}</string>
                <key>sourceSize</key>
                <string>{205,66}</string>
            </dict>
            <key>win_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,242},{179,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,52}}</string>
                <key>sourceSize</key>
                <string>{179,52}</string>
            </dict>
            <key>xlmj_dt_icon_cjfj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,743},{224,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,66}}</string>
                <key>sourceSize</key>
                <string>{224,66}</string>
            </dict>
            <key>xlmj_dt_icon_cjfj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{198,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,201}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>xlmj_dt_icon_cjfj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,608},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>xlmj_dt_icon_cjfj05.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,735},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
            <key>xlmj_dt_icon_cjfj06.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,160},{44,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,76}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>xlmj_dt_icon_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,144},{317,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,179}}</string>
                <key>sourceSize</key>
                <string>{317,179}</string>
            </dict>
            <key>xlmj_dt_icon_hyf01.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,403},{170,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,66}}</string>
                <key>sourceSize</key>
                <string>{170,66}</string>
            </dict>
            <key>xlmj_dt_icon_hyf02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,249},{262,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,224}}</string>
                <key>sourceSize</key>
                <string>{262,224}</string>
            </dict>
            <key>xlmj_dt_icon_jrfj01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,682},{226,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,65}}</string>
                <key>sourceSize</key>
                <string>{226,65}</string>
            </dict>
            <key>xlmj_dt_icon_jrfj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{247,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,245}}</string>
                <key>sourceSize</key>
                <string>{247,245}</string>
            </dict>
            <key>xlmj_dt_icon_jrfj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,475},{163,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,131}}</string>
                <key>sourceSize</key>
                <string>{163,131}</string>
            </dict>
            <key>xlmj_dt_icon_jrfj05.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,189},{17,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,50}}</string>
                <key>sourceSize</key>
                <string>{17,50}</string>
            </dict>
            <key>xlmj_dt_icon_jrfj06.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,657},{21,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,48}}</string>
                <key>sourceSize</key>
                <string>{21,48}</string>
            </dict>
            <key>xlmj_dt_icon_jrfj07.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,603},{16,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,49}}</string>
                <key>sourceSize</key>
                <string>{16,49}</string>
            </dict>
            <key>xlmj_dt_icon_jrfj08.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,608},{15,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,44}}</string>
                <key>sourceSize</key>
                <string>{15,44}</string>
            </dict>
            <key>xlmj_dt_icon_xingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,605},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xlmj_dt_icon_zyz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,296},{171,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,64}}</string>
                <key>sourceSize</key>
                <string>{171,64}</string>
            </dict>
            <key>zhanji_kuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,568}}</string>
                <key>sourceSize</key>
                <string>{67,568}</string>
            </dict>
            <key>zjz_jspz_bar_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,673},{68,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,33}}</string>
                <key>sourceSize</key>
                <string>{68,33}</string>
            </dict>
            <key>zjz_jspz_bar_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,205},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>zjz_jspz_bar_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,638},{68,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,33}}</string>
                <key>sourceSize</key>
                <string>{68,33}</string>
            </dict>
            <key>zjz_jspz_bar_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,603},{68,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,33}}</string>
                <key>sourceSize</key>
                <string>{68,33}</string>
            </dict>
            <key>zmwf_zjs_mark_hg.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,412},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>zmwf_zjs_mark_jsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,708},{85,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,37}}</string>
                <key>sourceSize</key>
                <string>{85,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahj_create_room_001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fba53bbeb17f147fca898dd1db9c3e2f:1/1$</string>
            <key>textureFileName</key>
            <string>mahj_create_room_001.png</string>
        </dict>
    </dict>
</plist>
