<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanji_btn_fengxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,84}}</string>
                <key>sourceSize</key>
                <string>{216,84}</string>
            </dict>
            <key>zhanji_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,285},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>zhanji_btn_huifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,88},{111,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,52}}</string>
                <key>sourceSize</key>
                <string>{111,52}</string>
            </dict>
            <key>zhanji_btn_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,412},{29,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,91}}</string>
                <key>sourceSize</key>
                <string>{29,91}</string>
            </dict>
            <key>zhanji_clean_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,239},{163,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,30}}</string>
                <key>sourceSize</key>
                <string>{163,30}</string>
            </dict>
            <key>zhanji_fangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,239},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>zhanji_img_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,194},{156,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,43}}</string>
                <key>sourceSize</key>
                <string>{156,43}</string>
            </dict>
            <key>zhanji_kuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,316},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>zhanji_kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,285},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>zhanji_kuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{32,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,95}}</string>
                <key>sourceSize</key>
                <string>{32,95}</string>
            </dict>
            <key>zhanji_kuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,239},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>zhanji_kuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{37,374}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,374}}</string>
                <key>sourceSize</key>
                <string>{41,374}</string>
            </dict>
            <key>zhanji_lbl_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>zhanji_liushui.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,168},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>zhanji_liushui_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,308},{186,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,49}}</string>
                <key>sourceSize</key>
                <string>{186,49}</string>
            </dict>
            <key>zhanji_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,169},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>zhanji_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,412},{84,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>zhanji_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,122},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>zhanji_txt_ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,127},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zhanji_wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,142},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,24}}</string>
                <key>sourceSize</key>
                <string>{99,24}</string>
            </dict>
            <key>zhanji_wanfa_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,224},{186,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,49}}</string>
                <key>sourceSize</key>
                <string>{186,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahj_zhanji_001.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7182fc924eb813a3f55070bf1f42c579:1/1$</string>
            <key>textureFileName</key>
            <string>mahj_zhanji_001.png</string>
        </dict>
    </dict>
</plist>
