<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>countdown_to_kickoff_halfbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,812},{139,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,42}}</string>
                <key>sourceSize</key>
                <string>{139,42}</string>
            </dict>
            <key>mahj_match_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,592},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>mahj_match_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{355,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,128}}</string>
                <key>sourceSize</key>
                <string>{355,128}</string>
            </dict>
            <key>mahj_match_jingji_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,267}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>mahj_match_lvup_base_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,952},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>mahj_match_lvup_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,953},{26,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,81}}</string>
                <key>sourceSize</key>
                <string>{26,81}</string>
            </dict>
            <key>mahj_match_lvup_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,487},{51,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,81}}</string>
                <key>sourceSize</key>
                <string>{51,81}</string>
            </dict>
            <key>mahj_match_lvup_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,540},{50,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,81}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>mahj_match_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{60,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
            <key>mahj_match_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,64},{82,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,105}}</string>
                <key>sourceSize</key>
                <string>{82,105}</string>
            </dict>
            <key>mahj_match_rank_bg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,757},{77,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,44}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
            <key>mahj_match_rank_bg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,952},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>mahj_match_rank_bg_unSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,678},{77,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,44}}</string>
                <key>sourceSize</key>
                <string>{77,44}</string>
            </dict>
            <key>mahj_match_rank_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,401},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>mahj_match_rank_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,999},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>mahj_match_rank_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,982},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>mahj_match_table_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,317},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>mahj_match_txt_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,678},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>mahj_match_txt_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,271},{297,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,116}}</string>
                <key>sourceSize</key>
                <string>{297,116}</string>
            </dict>
            <key>mahj_match_txt_jinji.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,609},{201,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,111}}</string>
                <key>sourceSize</key>
                <string>{201,111}</string>
            </dict>
            <key>mahj_match_txt_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,148},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>mahj_match_txt_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,232},{95,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,110}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>mahj_match_txt_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,198},{434,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,132}}</string>
                <key>sourceSize</key>
                <string>{434,132}</string>
            </dict>
            <key>mahj_match_waiting_word_countdown_to_kickoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,837},{160,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,34}}</string>
                <key>sourceSize</key>
                <string>{160,34}</string>
            </dict>
            <key>mahj_match_waiting_word_zuixinsaikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,837},{143,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,48}}</string>
                <key>sourceSize</key>
                <string>{143,48}</string>
            </dict>
            <key>mahj_match_will_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,812},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>match_details_baomingfei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{272,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,62}}</string>
                <key>sourceSize</key>
                <string>{272,62}</string>
            </dict>
            <key>match_details_baomingfei_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,898},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>match_details_baomingfei_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,898},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>match_details_btn_singout.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,609},{226,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,88}}</string>
                <key>sourceSize</key>
                <string>{226,88}</string>
            </dict>
            <key>match_details_btn_singup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{226,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,88}}</string>
                <key>sourceSize</key>
                <string>{226,88}</string>
            </dict>
            <key>match_details_panel_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{194,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,434}}</string>
                <key>sourceSize</key>
                <string>{194,434}</string>
            </dict>
            <key>match_details_tab_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,148},{167,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,1}}</string>
                <key>sourceSize</key>
                <string>{167,1}</string>
            </dict>
            <key>match_details_table_selected_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{184,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,116}}</string>
                <key>sourceSize</key>
                <string>{184,116}</string>
            </dict>
            <key>match_registration_baomingfei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{272,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,62}}</string>
                <key>sourceSize</key>
                <string>{272,62}</string>
            </dict>
            <key>match_registration_xuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,64},{262,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,2}}</string>
                <key>sourceSize</key>
                <string>{262,2}</string>
            </dict>
            <key>match_signout_txt_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,982},{64,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>match_waiting_cutdown_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{323,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,78}}</string>
                <key>sourceSize</key>
                <string>{323,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahj_match_details.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a49c4a57891d5a7084f2b4b0a47b72bb:1/1$</string>
            <key>textureFileName</key>
            <string>mahj_match_details.png</string>
        </dict>
    </dict>
</plist>
