<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_zm_tx_hp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,425}}</string>
                <key>sourceSize</key>
                <string>{402,425}</string>
            </dict>
            <key>mj_zm_tx_hp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,782},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mj_zm_tx_hp03.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,798},{139,139}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{139,139}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>mj_zm_tx_hp04.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,475},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mj_zm_tx_hp06.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,217},{128,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>mj_zm_tx_hp07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,217},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,763},{138,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,125}}</string>
                <key>sourceSize</key>
                <string>{138,125}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_gangkh.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,731},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_gangkh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,490},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_hdlao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,475},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_hdlao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,679},{178,101}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{178,101}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_hmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,618},{111,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,119}}</string>
                <key>sourceSize</key>
                <string>{111,119}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_hmd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,846},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_mmduoxiangmo.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,733},{256,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,63}}</string>
                <key>sourceSize</key>
                <string>{256,63}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,798},{139,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,118}}</string>
                <key>sourceSize</key>
                <string>{139,118}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_fx_zimmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{251,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,177}}</string>
                <key>sourceSize</key>
                <string>{251,177}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,495},{121,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,116}}</string>
                <key>sourceSize</key>
                <string>{121,116}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_chi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,181},{203,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,195}}</string>
                <key>sourceSize</key>
                <string>{203,195}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_diao.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,731},{119,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,113}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_duan.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,378},{110,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,129}}</string>
                <key>sourceSize</key>
                <string>{110,129}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_ggg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,782},{122,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,112}}</string>
                <key>sourceSize</key>
                <string>{122,112}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_hh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{172,194}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{172,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_hh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{301,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,332}}</string>
                <key>sourceSize</key>
                <string>{301,332}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,618},{124,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_ping.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,378},{90,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,115}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>xlmj_zm_tx_pxtx_tzt_pinghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{362,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,213}}</string>
                <key>sourceSize</key>
                <string>{362,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlmj_zm_tx_pxtx2.png</string>
            <key>size</key>
            <string>{1023,959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d2e9b73afff2ed55d4dfbc8d9e086bf:1/1$</string>
            <key>textureFileName</key>
            <string>xlmj_zm_tx_pxtx2.png</string>
        </dict>
    </dict>
</plist>
